.navBar {
    background-color:#FFDF01;
}

.navBar__link {
    color: #000000;
}

.navBar__cancel{
    margin-left: auto;
}

.navBar__cancelBtn{
    background-color:#FFDF01;
    color: #000000;
    border: none;
}

.navBar__cancelBtn:hover{
    background-color: #FFDF01;
    color: #000000;
}

.contentWrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.content {
   
    width: 45%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.auto-left {
    margin-left:auto;
}

.input-box {
    border:1px dotted black;
    border-radius: 8px;

}
.info {
    margin-top: 100px;
}
.reg-btn {
    background-color: #FFDF01;
    color: #000000;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
}
-
.back-btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
}
.buttonWrapper {
    display: flex;
    margin-top: 50px;
}